 <header class="navbar navbar-fixed-top navbar-inverse">
   <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1, user-scalable=no" />
      <div class="container">
       <%= link_to "sample app", root_path, id: "logo" %>  
        <!-- <%= link_to image_tag("MNC_BANK_logo.png", alt: "MNCBank logo", width: "285", height: "60"), 'http://mncbank.co.id/' %> -->
        <nav>
          <ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home",  root_path %></li>
              <li><%= link_to "Help",  help_path %></li>
              <li><%= link_to "Log in",  '#' %></li>
          </ul>
        </nav>
     </div> 
</header>